@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Jost&family=Open+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Jost", sans-serif;
  background-image: linear-gradient(to bottom left, #000, #8bdede);
  z-index: -1; }

.particles {
  background-image: linear-gradient(to bottom right, #000, #000, #8bdede);
  max-width: 500vw;
  max-height: 1000vh;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  position: relative;
  box-shadow: 5px 100px 18px #b9937e;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 100% 79%, 0% 100%);
  z-index: 21000; }
  @media only screen and (max-width: 50em) {
    .particles {
      max-height: 600rem;
      padding-left: 4rem;
      padding-right: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .particles {
      max-height: 500rem;
      padding-left: 4rem;
      padding-right: 5rem; } }
  .particles__logo {
    width: 25rem;
    position: absolute;
    z-index: 200;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .particles__logo {
        width: 18rem; } }
  .particles__moon {
    position: absolute;
    width: 40vw;
    display: flex;
    margin-top: 10rem;
    margin-left: 60vw;
    opacity: 0.5; }

.nav {
  background: none;
  font-family: "Jost", sans-serif;
  display: flex;
  font-size: 2.6rem;
  justify-content: space-between;
  align-content: center;
  color: #8bdede;
  justify-items: flex-end;
  flex-wrap: wrap;
  z-index: 100; }
  .nav__sidebar-toggle {
    display: none; }
  .nav__list {
    list-style: none;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex: 1;
    cursor: pointer;
    z-index: 200; }
    .nav__list :not(:last-child) {
      list-style: none;
      margin-right: 3rem; }
    .nav__list li a {
      text-decoration: none;
      color: #8bdede; }
    .nav__list li a:active {
      color: #eeeeee; }
  @media only screen and (max-width: 50em) {
    .nav .nav {
      font-family: "Jost", sans-serif;
      display: flex;
      font-size: 1.6rem;
      justify-content: flex-end;
      align-content: center;
      justify-items: flex-end; }
      .nav .nav__sidebar-toggle {
        display: flex;
        position: absolute;
        top: 4rem;
        left: 89%;
        font-size: 4rem;
        background: transparent;
        border-color: transparent;
        color: #8bdede;
        z-index: 200;
        cursor: pointer;
        animation: bounce 2s ease-in-out infinite; }
      .nav .nav__list {
        visibility: hidden; } }

@keyframes bounce {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.wrapper {
  color: #aaa;
  font-family: "Jost", sans-serif;
  position: absolute;
  margin-top: 15rem;
  margin-left: 5rem;
  display: inline-flex; }
  @media only screen and (max-width: 62.5em) {
    .wrapper {
      margin-top: 10rem;
      margin-left: 3rem; } }
  @media only screen and (max-width: 50em) {
    .wrapper {
      margin-top: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      margin-top: 6rem;
      margin-left: 3rem; } }
  .wrapper__description {
    font-size: 7rem;
    font-family: "Jost", sans-serif; }
    @media only screen and (max-width: 50em) {
      .wrapper__description {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .wrapper__description {
        font-size: 2.6rem; } }
  .wrapper__text {
    font-size: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .wrapper__text {
        font-size: 2.6rem; } }
  .wrapper__dynamic-texts {
    margin-top: 2.9rem;
    margin-left: 3rem;
    height: 6rem;
    line-height: 65px;
    overflow: hidden; }
    @media only screen and (max-width: 75em) {
      .wrapper__dynamic-texts {
        margin-top: 3.9rem;
        line-height: 50px;
        height: 4.5rem; } }
    @media only screen and (max-width: 50em) {
      .wrapper__dynamic-texts {
        margin-top: 1.9rem;
        line-height: 50px;
        height: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .wrapper__dynamic-texts {
        margin-top: -0rem;
        margin-left: 1.2rem;
        line-height: 40px;
        height: 4rem; } }
  .wrapper__dynamic-texts li {
    color: #b9937e;
    font-size: 4rem;
    list-style: none;
    top: 0;
    position: relative;
    overflow: hidden;
    animation: slide 9.5s steps(5) infinite; }
    @media only screen and (max-width: 75em) {
      .wrapper__dynamic-texts li {
        top: -1rem;
        font-size: 4rem;
        animation: slide 9.5s steps(5) infinite; } }
    @media only screen and (max-width: 50em) {
      .wrapper__dynamic-texts li {
        top: -1rem;
        font-size: 4rem;
        animation: slide 9.5s steps(5) infinite; } }
    @media only screen and (max-width: 37.5em) {
      .wrapper__dynamic-texts li {
        font-size: 2.6rem;
        animation: slide 9.5s steps(5) infinite;
        overflow: visible; } }

@keyframes slide {
  100% {
    top: -32.2rem; } }
  .wrapper__dynamic-texts li span {
    position: relative; }
  .wrapper__dynamic-texts li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 150%;
    width: 100%;
    background-image: linear-gradient(#000, #000);
    background-blend-mode: screen;
    border-left: 2px solid #b9937e;
    animation: typing 1.9s steps(14) infinite; }
    @media only screen and (max-width: 50em) {
      .wrapper__dynamic-texts li span::after {
        top: 0; } }
    @media only screen and (max-width: 37.5em) {
      .wrapper__dynamic-texts li span::after {
        animation: typing 1.9s steps(14) infinite; } }

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px; } }

.container {
  background-color: rgba(53, 61, 65, 0.08);
  color: #f9f7f6;
  text-transform: uppercase;
  margin-top: -18rem;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 20rem 4rem black;
  clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%); }
  @media only screen and (max-width: 75em) {
    .container {
      font-size: 70%; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      font-size: 20%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      font-size: 10%; } }
  .container__heading {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    color: #f9f7f6;
    font-size: 50px; }
    @media only screen and (max-width: 75em) {
      .container__heading {
        font-size: 50px; } }
    @media only screen and (max-width: 50em) {
      .container__heading {
        margin-top: 2em;
        font-size: 35px; } }
    @media only screen and (max-width: 37.5em) {
      .container__heading {
        margin-top: 2em;
        font-size: 20px; } }
  .container__images {
    max-height: 15%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    flex: 0 0 2;
    gap: 5rem 5rem;
    align-items: flex-start; }
    .container__images--img-1 {
      width: 50rem;
      max-height: 30vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      transition: all 0.5s; }
      .container__images--img-1 .image1 {
        max-width: 50rem;
        display: flex;
        flex-direction: row;
        margin-left: 5rem;
        align-content: space-between;
        transition: all 0.5s;
        position: relative; }
        .container__images--img-1 .image1__btn {
          font-size: 2rem;
          position: absolute;
          align-self: center;
          margin-bottom: 4rem;
          display: flex;
          padding: 1rem;
          background-color: transparent;
          border: solid;
          border-color: white;
          color: white;
          visibility: hidden;
          transition: all 0.5s;
          opacity: 0;
          margin-left: 4rem;
          text-decoration: none; }
        .container__images--img-1 .image1__btn1 {
          font-size: 2rem;
          position: absolute;
          margin-top: 1rem;
          border: solid;
          text-decoration: none;
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          padding: 1rem;
          background-color: transparent;
          border-color: white;
          color: white;
          visibility: hidden;
          opacity: 0;
          transition: all 1s;
          margin-left: 4rem; }
      .container__images--img-1:hover .image1 {
        transform: scale(0.9);
        filter: blur(3px) brightness(80%); }
        .container__images--img-1:hover .image1__btn {
          visibility: visible;
          opacity: 1;
          transform: translatey(-5rem); }
        .container__images--img-1:hover .image1__btn1 {
          visibility: visible;
          opacity: 1;
          transform: translatey(-10rem); }

.footer {
  margin-top: 10rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  height: 10vh; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 5px; } }

.about {
  width: 100%;
  text-align: center;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .about {
      margin-top: 2em;
      font-size: 35px;
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      margin-top: 0;
      font-size: 20px; } }
  .about__heading {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    color: black;
    font-size: 50px; }
    @media only screen and (max-width: 75em) {
      .about__heading {
        font-size: 50px; } }
    @media only screen and (max-width: 50em) {
      .about__heading {
        font-size: 40px; } }
    @media only screen and (max-width: 37.5em) {
      .about__heading {
        font-size: 20px; } }
  .about__profile {
    max-height: 20vh;
    width: 8%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    margin-left: 23rem;
    margin-bottom: 5rem;
    box-shadow: 2px 12px 20px black; }
    @media only screen and (max-width: 75em) {
      .about__profile {
        align-self: center;
        margin: 0 auto;
        margin-bottom: 5rem;
        width: 15%; } }
    @media only screen and (max-width: 50em) {
      .about__profile {
        font-size: 35px; } }
  .about p {
    font-size: 2rem;
    align-self: flex-start;
    width: 40%;
    text-align: justify;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .about p {
        font-size: 20px;
        flex: 1;
        flex-direction: row;
        width: 100%;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 50em) {
      .about p {
        font-size: 20px;
        flex: 1;
        flex-direction: row;
        width: 100%;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about p {
        font-size: 10px; } }
  .about__line {
    display: flex;
    align-self: center;
    align-items: center;
    position: absolute;
    margin-top: 25rem;
    transform: rotate(90deg);
    width: 50rem;
    color: black; }
    @media only screen and (max-width: 75em) {
      .about__line {
        transform: rotate(180deg);
        align-self: flex-end;
        align-content: flex-end;
        flex-direction: column;
        display: flex;
        position: relative;
        margin: 0 auto;
        margin-bottom: 5rem;
        width: 50%;
        align-items: flex-end; } }
  .about__contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 5rem;
    width: 35%;
    margin-top: 11rem;
    align-self: flex-end;
    align-items: flex-end; }
    @media only screen and (max-width: 75em) {
      .about__contact {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-self: center;
        align-content: center;
        line-height: 1rem;
        width: 100%; } }
    @media only screen and (max-width: 50em) {
      .about__contact {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-self: center;
        align-content: center;
        line-height: 1rem;
        width: 100%; } }
