.particles {
  background-image: linear-gradient(
    to bottom right,
    $color-black,
    $color-black,
    $color-logo
  );

  max-width: 500vw;
  max-height: 1000vh;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  position: relative;
  box-shadow: 5px 100px 18px $color-red;

  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 100% 79%, 0% 100%);
  @media only screen and (max-width: $bp-medium) {
    max-height: 600rem;
    padding-left: 4rem;
    padding-right: 5rem;
  }
  @media only screen and (max-width: $bp-small) {
    max-height: 500rem;
    padding-left: 4rem;
    padding-right: 5rem;
  }

  z-index: 21000;
  &__logo {
    width: 25rem;
    position: absolute;
    z-index: 200;
    cursor: pointer;
    @media only screen and (max-width: $bp-small) {
      width: 18rem;
    }
  }
  &__moon {
    position: absolute;
    width: 40vw;
    display: flex;
    margin-top: 10rem;
    margin-left: 60vw;
    opacity: 0.5;
  }
}
.nav {
  background: none;

  font-family: $font-display;
  display: flex;
  font-size: 2.6rem;
  justify-content: space-between;
  align-content: center;
  color: $color-logo;
  justify-items: flex-end;
  flex-wrap: wrap;
  z-index: 100;
  &__sidebar-toggle {
    display: none;
  }
  &__list {
    list-style: none;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex: 1;
    cursor: pointer;
    z-index: 200;
    :not(:last-child) {
      list-style: none;
      margin-right: 3rem;
    }
    li a {
      text-decoration: none;
      color: $color-logo;
    }
    li a:active {
      color: $color-bright-grey;
    }
  }

  @media only screen and(max-width:$bp-medium) {
    .nav {
      font-family: $font-display;
      display: flex;
      font-size: 1.6rem;
      justify-content: flex-end;
      align-content: center;

      justify-items: flex-end;

      &__sidebar-toggle {
        display: flex;

        position: absolute;
        top: 4rem;
        left: 89%;

        font-size: 4rem;
        background: transparent;
        border-color: transparent;
        color: $color-logo;
        z-index: 200;
        cursor: pointer;
        animation: bounce 2s ease-in-out infinite;
      }
      &__list {
        visibility: hidden;
      }
    }
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
}

.wrapper {
  color: $color-grey-light-2;
  font-family: $font-display;

  position: absolute;
  margin-top: 15rem;
  margin-left: 5rem;
  width: 38rem;
  display: inline-flex;
  @media only screen and (max-width: $bp-large) {
    margin-top: 10rem;
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin-top: 8rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 6rem;
    margin-left: 3rem;
  }

  &__description {
    font-size: 7rem;
    font-family: $font-display;
    @media only screen and (max-width: $bp-medium) {
      font-size: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 2.6rem;
    }
  }
  &__text {
    font-size: 4rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 2.6rem;
    }
  }
  &__dynamic-texts {
    color: $color-red;
    font-size: 4rem;

    height: 6rem;

    @media only screen and (max-width: $bp-largest) {
      margin-top: 3.9rem;
      line-height: 50px;
      height: 4.5rem;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-top: 1.9rem;
      line-height: 50px;
      height: 4.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      margin-top: -0rem;
      margin-left: 1.2rem;
      line-height: 40px;
      height: 4rem;
      // overflow: visible;
    }
  }
  // &__dynamic-texts li {
  //   color: $color-red;
  //   font-size: 4rem;
  //   list-style: none;
  //   top: 0;
  //   position: relative;
  //   overflow: hidden;

  //   animation: slide 9.5s steps(5) infinite;
  //   @media only screen and (max-width: $bp-largest) {
  //     top: -1rem;
  //     font-size: 4rem;
  //     animation: slide 9.5s steps(5) infinite;
  //   }
  //   @media only screen and (max-width: $bp-medium) {
  //     top: -1rem;
  //     font-size: 4rem;
  //     animation: slide 9.5s steps(5) infinite;
  //   }
  //   @media only screen and (max-width: $bp-small) {
  //     font-size: 2.6rem;
  //     animation: slide 9.5s steps(5) infinite;
  //     overflow: visible;
  //   }
  // }
  // @keyframes slide {
  //   100% {
  //     top: -32.2rem;
  //   }
  // }
  // &__dynamic-texts li span {
  //   position: relative;
  // }
  // &__dynamic-texts li span::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   height: 150%;
  //   width: 100%;
  //   background-image: linear-gradient($color-black, $color-black);

  //   background-blend-mode: screen;
  //   border-left: 2px solid $color-red;
  //   animation: typing 1.9s steps(14) infinite;
  //   @media only screen and (max-width: $bp-medium) {
  //     top: 0;
  //   }
  //   @media only screen and (max-width: $bp-small) {
  //     animation: typing 1.9s steps(14) infinite;
  //   }
  // }
  // @keyframes typing {
  //   100% {
  //     left: 100%;
  //     margin: 0 -35px 0 35px;
  //   }
  // }
}
