.about {
  width: 100%;
  text-align: center;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: $bp-medium) {
    margin-top: 2em;
    font-size: 35px;
    flex-direction: column;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 0;
    font-size: 20px;
  }
  &__heading {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;

    color: black;
    font-size: 50px;
    @media only screen and (max-width: $bp-largest) {
      font-size: 50px;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 40px;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 20px;
    }
  }
  &__profile {
    max-height: 20vh;
    width: 8%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    margin-left: 23rem;
    margin-bottom: 5rem;
    box-shadow: 2px 12px 20px black;
    @media only screen and (max-width: $bp-largest) {
      align-self: center;
      margin: 0 auto;
      margin-bottom: 5rem;
      width: 15%;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 35px;
    }
  }
  p {
    font-size: 2rem;
    align-self: flex-start;
    width: 40%;
    text-align: justify;
    position: relative;
    @media only screen and (max-width: $bp-largest) {
      font-size: 20px;
      flex: 1;
      flex-direction: row;
      width: 100%;
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 20px;
      flex: 1;
      flex-direction: row;
      width: 100%;
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 10px;
    }
  }
  &__line {
    display: flex;

    align-self: center;
    align-items: center;
    position: absolute;
    margin-top: 25rem;
    transform: rotate(90deg);
    width: 50rem;
    color: black;
    @media only screen and (max-width: $bp-largest) {
      transform: rotate(180deg);
      align-self: flex-end;
      align-content: flex-end;
      flex-direction: column;
      display: flex;
      position: relative;
      margin: 0 auto;
      margin-bottom: 5rem;
      width: 50%;
      align-items: flex-end;
    }
  }
  &__contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 5rem;
    width: 35%;
    margin-top: 11rem;
    align-self: flex-end;
    align-items: flex-end;
    @media only screen and (max-width: $bp-largest) {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-self: center;
      align-content: center;
      line-height: 1rem;
      width: 100%;
    }
    @media only screen and (max-width: $bp-medium) {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-self: center;
      align-content: center;
      line-height: 1rem;
      width: 100%;
    }
  }
}
