.about {
  width: 100%;
  // text-align: center;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $font-display;
  font-size: 5rem;
  @media only screen and (max-width: $bp-medium) {
    margin-top: 2em;
    font-size: 5rem;
    flex-direction: column;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 0;
    font-size: 20px;
  }
  &__title {
    justify-content: flex-start;
    flex: 1;
    color: $color-logo;
    font-size: 60px;
    @media only screen and (max-width: $bp-medium) {
      font-size: 40px;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 20px;
    }
  }
  &__heading {
    margin-top: 5rem;

    text-align: center;

    flex-direction: row;
    font-size: 5rem;
    text-transform: uppercase;
    color: $color-logo;
    font-size: 50px;
    @media only screen and (max-width: $bp-largest) {
      font-size: 50px;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 40px;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 20px;
    }
    &--head {
      margin: 0 auto;
      margin-top: 5rem;
      margin-bottom: 10rem;
      text-align: center;
      justify-content: center;
      align-content: space-around;
      flex-direction: row;
      font-size: 5rem;
      text-transform: uppercase;
      color: $color-logo;
      font-size: 50px;
    }
    &--profile {
      max-height: 15%;
      width: 15%;

      transform: rotate(10deg);

      justify-content: flex-end;

      box-shadow: 2px 12px 20px black;

      @media only screen and (max-width: $bp-largest) {
        justify-content: start;
        margin-bottom: 1rem;
        width: 15%;
      }
      @media only screen and (max-width: $bp-medium) {
        font-size: 35px;
        margin-bottom: 1rem;
      }
    }
    &--head {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      font-size: 5rem;
      text-transform: uppercase;
    }
  }
  &__box {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $bp-largest) {
      flex-direction: column;
    }
    &--line {
      justify-content: center;
      margin-left: 5rem;
      margin-right: 5rem;
      transform: rotate(180deg);

      border-color: $color-logo;
      @media only screen and (max-width: $bp-largest) {
        flex-direction: column;
        transform: rotate(180deg);
        align-self: flex-end;
        align-content: flex-end;

        margin: 0 auto;
        margin-bottom: 5rem;
        width: 50%;
        align-items: flex-end;
      }
    }
    &--contact {
      // gap: 1rem;
      flex-wrap: wrap;
      line-height: 5rem;
      justify-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      flex: 1;
      @media only screen and (max-width: $bp-largest) {
        flex-wrap: wrap;
        line-height: 5rem;
        justify-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      @media only screen and (max-width: $bp-medium) {
        flex-wrap: wrap;
        line-height: 5rem;
        justify-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      &--items {
        flex-direction: row;
        justify-content: center;
        gap: 1rem 1rem;
        @media only screen and (max-width: $bp-largest) {
          flex-direction: row;
        }
      }
    }
  }
  p {
    font-size: 2rem;
    color: $color-grey-light-1;
    align-self: flex-start;
    flex: 1;
    width: 40%;
    // text-align: justify;
    position: relative;
    text-transform: none;
    @media only screen and (max-width: $bp-largest) {
      font-size: 20px;
      flex: 1;
      flex-direction: row;
      width: 100%;
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 20px;
      flex: 1;
      flex-direction: row;
      width: 100%;
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 10px;
    }
  }
}
.icon {
  display: block;
  float: left;
  margin-left: 5px;
  color: $color-grey-light-1;

  font-size: 30px;
  @media only screen and (max-width: $bp-largest) {
    display: inline-block;
    float: left;
    margin-left: 5px;
    color: $color-grey-light-1;
    font-size: 25px;
  }
  @media only screen and (max-width: $bp-medium) {
    display: block;
    float: left;
    margin-left: 5px;
    color: $color-grey-light-1;
    font-size: 25px;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 20px;
  }
}
